name: cognix
description: "Cognix is your AI-powered academic assistant, a sleek Flutter app for web and mobile that helps you effortlessly analyze text and master your studies."
publish_to: "none"
version: 1.0.0

environment:
  sdk: ^3.6.0

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  provider: ^6.1.2
  go_router: ^16.2.0
  file_picker: 
  google_fonts: ^6.3.3
  http: 



dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
  flutter_launcher_icons: ^0.13.1

flutter:
  uses-material-design: true
  assets:
    - assets/

flutter_launcher_icons:
  android: true
  ios: true
  image_path: assets/cognix_launch.png
  remove_alpha_ios: true
